In [1]:
# saves you having to use print as all exposed variables are printed in the cell
from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = "all"

----------------------
## Environment
environment variables for dynamic spesification of dataset size in rows and its location and name as a URI

In [2]:
import os

In [3]:
# clean out any old environments
for key in os.environ.keys():
    if key.startswith('HADRON'):
        del os.environ[key]

In [4]:
# domain contracts location
os.environ['HADRON_PM_REPO'] = './hadron/contracts'
os.environ['HADRON_PM_TYPE'] = 'json'

# data petsist location
os.environ['HADRON_DEFAULT_PATH'] = './hadron/data'

# synthetic capability values
os.environ['HADRON_SYNTHETIC_PERSIST_RESOURCE'] = 'hadron_synthetic_service.parquet'
os.environ['HADRON_SYNTHETIC_DATA_SIZE'] = '5000'

-------------------
## Synthetic Dataset Service

In [5]:
from ds_discovery import Controller

### set the service path to the local domain contracts

In [6]:
# gets the uri_pm_repo from the environment
controller = Controller.from_env()

### run the service and view the run cycle report

In [7]:
controller.run_controller(run_cycle_report='hadron_controller_cycle_report.csv')
controller.load_canonical(connector_name='run_cycle_report')

                         time                          text
0  2023-05-02 18:26:14.571533             start run-cycle 0
1  2023-05-02 18:26:14.573405            start task cycle 0
2  2023-05-02 18:26:14.575257  running synthetic_capability
3  2023-05-02 18:26:14.639749  canonical shape is (1000, 6)
4  2023-05-02 18:26:14.641218                tasks complete
5  2023-05-02 18:26:14.642524                 end of report

----------------------
----------------------
## View synthetic outcome (optional)
Once run, we can use the controller to retrieve data lineage to identify the capability that produced the outcome dataset and from that retrieve and observe what was generated.

### get the task name of the output capability from the Controller

In [8]:
controller.report_intent()

### use the task name to get the get the Synthetic Builder for that task name

In [9]:
from ds_discovery import SyntheticBuilder

In [10]:
sb = SyntheticBuilder.from_env('capability_task')

### load and display the dataset.

In [11]:
df = sb.load_persist_canonical()
sb.canonical_report(df)

In [12]:
sb.report_environ()