Darryl Oatridge, April 2023

### Environment

In [1]:
import os

In [2]:
# clean out any old environments
for key in os.environ.keys():
    if key.startswith('HADRON'):
        del os.environ[key]

In [3]:
os.environ['HADRON_DEFAULT_PATH'] = 'persist'
os.environ['HADRON_DIFF_ON'] = 'target'

In [4]:
os.environ['HADRON_DIFF_CLEANER_ORIGIN'] = 'source/origin_sample.csv'
os.environ['HADRON_DIFF_CLEANER_OTHER'] = 'source/other_sample.csv'
os.environ['HADRON_DIFF_HEADER_MAP_ORIGIN'] = 'source/mapping.csv'
os.environ['HADRON_DIFF_HEADER_MAP_OTHER'] = 'source/mapping.csv'

In [5]:
# os.environ['HADRON_DIFF_CLEANER_ORIGIN'] = "mysql://user:pass@localhost:3306/mydb?table=origin"
# os.environ['HADRON_DIFF_CLEANER_OTHER'] = "mysql://user:pass@localhost:3306/mydb?table=other"
# os.environ['HADRON_DIFF_HEADER_MAP_ORIGIN'] = "mysql://user:pass@localhost:3306/mydb?table=mapping"
# os.environ['HADRON_DIFF_HEADER_MAP_OTHER'] = "mysql://user:pass@localhost:3306/mydb?table=mapping"

## Controller

In [6]:
from ds_discovery import Controller

In [7]:
controller = Controller.from_env(has_contract=False)

### Add Components

In [8]:
controller.intent_model.transition(canonical=0, task_name='align_origin', intent_level='data_clean_origin')
controller.intent_model.transition(canonical=0, task_name='align_other', intent_level='data_clean_other')

In [9]:
controller.intent_model.wrangle(canonical=0, task_name='profiling_origin', intent_level='data_profiling_origin')
controller.intent_model.wrangle(canonical=0, task_name='profiling_other', intent_level='data_profiling_other')

In [10]:
controller.intent_model.wrangle(canonical=0, task_name='difference', intent_level='difference_report')

### Report

In [11]:
controller.report_tasks()

In [12]:
run_book = [
    controller.runbook2dict(task='data_clean_other', persist=True, end_source=True),
    controller.runbook2dict(task='data_clean_origin', source='@'),
]
controller.add_run_book(run_levels=run_book, book_name='cleaners')

In [13]:
run_book = [
    controller.runbook2dict(task='data_clean_other'),
    controller.runbook2dict(task='data_profiling_other', persist=True, end_source=True),
    controller.runbook2dict(task='data_clean_origin', source='@'),
    controller.runbook2dict(task='data_profiling_origin'),
]
controller.add_run_book(run_levels=run_book, book_name='profiler')

In [14]:
run_book = [
    controller.runbook2dict(task='data_clean_other'),
    controller.runbook2dict(task='data_profiling_other', persist=True, end_source=True),
    controller.runbook2dict(task='data_clean_origin', source='@'),
    controller.runbook2dict(task='data_profiling_origin'),
    controller.runbook2dict(task='difference_report'),
]
controller.add_run_book(run_levels=run_book)

In [15]:
controller.report_run_book()

### Run Controller Pipeline

In [16]:
controller.run_controller(run_cycle_report='hadron_diff_controller_cycle_report.csv')
controller.load_canonical(connector_name='run_cycle_report')

                          time                           text
0   2023-04-19 16:38:34.373978              start run-cycle 0
1   2023-04-19 16:38:34.375530             start task cycle 0
2   2023-04-19 16:38:34.378381       running data_clean_other
3   2023-04-19 16:38:34.552218      canonical shape is (7, 5)
4   2023-04-19 16:38:34.554864   running data_profiling_other
5   2023-04-19 16:38:34.696873      canonical shape is (7, 5)
6   2023-04-19 16:38:34.698373      running data_clean_origin
7   2023-04-19 16:38:34.809843      canonical shape is (7, 5)
8   2023-04-19 16:38:34.811486  running data_profiling_origin
9   2023-04-19 16:38:34.902441      canonical shape is (7, 5)
10  2023-04-19 16:38:34.904160      running difference_report
11  2023-04-19 16:38:34.955547      canonical shape is (4, 4)
12  2023-04-19 16:38:34.956846                 tasks complete
13  2023-04-19 16:38:34.958021                  end of report

----------------------
### View Report

In [17]:
from ds_discovery import Wrangle

In [18]:
wr = Wrangle.from_env('difference')

In [19]:
wr.load_persist_canonical()

  target  C1  D1  E1
0      A   1   0   0
1      B   0   0   1
2      D   1   1   0
3      G   1   1   1