Darryl Oatridge, April 2023

# Difference Report

### Environment

In [1]:
import os

In [2]:
# clean out any old environments
for key in os.environ.keys():
    if key.startswith('HADRON'):
        del os.environ[key]

In [3]:
remote_uri='https://raw.githubusercontent.com/project-hadron/hadron-asset-bank/master/contracts/commons/difference_report/'
local_uri='../difference/hadron/contracts/'

In [4]:
os.environ['HADRON_PM_REPO'] = remote_uri
os.environ['HADRON_PM_TYPE'] = 'json'

os.environ['HADRON_DEFAULT_PATH'] = './hadron/data'

In [5]:
# Origin difference
os.environ['HADRON_CLEANER_ORIGIN_SOURCE_URI'] = '../services/source/hadron_synth_origin.pq'
os.environ['HADRON_CLEANER_ORIGIN_HEADER_URI'] = '../services/source/mapping.csv'

# Other difference
os.environ['HADRON_CLEANER_OTHER_SOURCE_URI'] = '../services/source/hadron_synth_other.pq'
os.environ['HADRON_CLEANER_OTHER_HEADER_URI'] = '../services/source/mapping.csv'

# difference on key
os.environ['HADRON_DIFFERENCE_ON_KEY'] = 'identifier'

## Controller

In [6]:
from ds_discovery import Controller

In [7]:
controller = Controller.from_env()

In [8]:
controller.run_controller(run_cycle_report='hadron_controller_cycle_report.csv')
controller.load_canonical(connector_name='run_cycle_report')

                         time                         text
0  2023-05-08 18:45:36.544591            start run-cycle 0
1  2023-05-08 18:45:36.545654           start task cycle 0
2  2023-05-08 18:45:36.547261       running cleaning_other
3  2023-05-08 18:45:37.481799   canonical shape is (15, 8)
4  2023-05-08 18:45:37.483229      running cleaning_origin
5  2023-05-08 18:45:38.444020  canonical shape is (12, 10)
6  2023-05-08 18:45:38.446456    running difference_report
7  2023-05-08 18:45:39.111519    canonical shape is (7, 4)
8  2023-05-08 18:45:39.112960               tasks complete
9  2023-05-08 18:45:39.114376                end of report

#### data profiling

In [9]:
# data profiling source
os.environ['HADRON_PROFILING_SOURCE_URI'] = '../services/source/hadron_synth_origin.pq'

In [10]:
controller.run_controller(run_book='profiling', run_cycle_report='hadron_controller_profiling_report.csv')
controller.load_canonical(connector_name='run_cycle_report')

                         time                         text
0  2023-05-08 18:45:39.146103            start run-cycle 0
1  2023-05-08 18:45:39.147693           start task cycle 0
2  2023-05-08 18:45:39.149720       running data_profiling
3  2023-05-08 18:45:40.909986  canonical shape is (12, 10)
4  2023-05-08 18:45:40.911471               tasks complete
5  2023-05-08 18:45:40.912933                end of report

In [11]:
# data profiling source
os.environ['HADRON_PROFILING_SOURCE_URI'] = '../services/source/hadron_synth_other.pq'

In [12]:
controller.run_controller(run_book='profiling', run_cycle_report='hadron_controller_profiling_report.csv')
controller.load_canonical(connector_name='run_cycle_report')

                         time                        text
0  2023-05-08 18:45:40.939689           start run-cycle 0
1  2023-05-08 18:45:40.941009          start task cycle 0
2  2023-05-08 18:45:40.943313      running data_profiling
3  2023-05-08 18:45:42.458611  canonical shape is (15, 8)
4  2023-05-08 18:45:42.460082              tasks complete
5  2023-05-08 18:45:42.461385               end of report

----------------------
### View Report

In [13]:
from ds_discovery import Wrangle

In [14]:
wr = Wrangle.from_env('difference_task')

In [15]:
df = wr.load_persist_canonical()
df

   identifier  int  float  cat
0          55    0      0    1
1          59    0      1    0
2          68    0      1    0
3          77    1      0    0
4          82    0      1    0
5          86    1      1    0
6          91    0      1    0

------------------------